/* @override http://localhost:8000/static/css/cgame.css */

html {
    font-family: Verdana, Helvetica;
    font-size:10px;
    background-color: #ECECEC;
}

#main {
    margin: 6px auto;
    padding:0px 15px 15px 15px;
    text-align:left;
    width:940px;
    background-color: white;
    border: 2px solid black;
}

div.section {
    border: 1px solid #666666;
    background-color: #FAFAFA;
    overflow: auto;
    margin: 15px 0px;
}

h2.section_header {
    margin: 2px 6px 0px 6px;
    border-bottom: 2px solid #DCDCDC;
}

div.text_body {
    padding: 8px;
}

/*--------------Players----------------*/

#players {
    padding:0px;
    margin:0px;
    text-align:center;
    clear:both;
}

#players li {
    text-align:left;
    list-style:none;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: none;
    width: 230px;
}

#players li:hover{
    background-color:lightgrey;
}

#players li .name {
    display:block;
    font-size:20px;
    margin-bottom:10px;
}

#players li .count {
    background-repeat:no-repeat;
    font-size:15px;
    padding: 1px 0px 1px 20px;
/*    outline: 1px black solid;*/
}

#players li .gold {
    background-image:url(/static/graphics/gold_coin.png);
}

#players li .hand_size {
    background-image:url(/static/graphics/hand.png);
}

#players li .cards_played {
    background-image:url(/static/graphics/castle.gif);
}

#players li .net_worth {
    background-image:url(/static/graphics/net_worth.png);
}

#players img.avatar {
    float:left;
    margin-right: 10px;
}

#players .turn {
    background-color: lightgreen;
}
#players .king {
    border-color: yellow;
}

/*---------------Characters---------------*/

.characters {
    float: left;
    font-size: 16px;
    margin: 15px;
    padding: 0px;
    display: block;
}

.characters .discarded {
    text-decoration: line-through;
    background-color: #EB725C;
}

.characters .discarded:hover {
    background-color: #EBB0A5;
}
.characters .discarded:active {
    padding: 8px 6px;
    background-color: #EBB0A5;
    border: 1px solid black;
}

.characters .assassinated {
    text-decoration:line-through;
    color:darkred;
}

.characters .name {
	list-style-type: disc;
}

.characters .thieved .name {
    color:darkgreen;
}

.characters li {
    list-style:none;
    float: left;
    margin: 2px 6px;
    padding: 8px 6px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    width:80px;
}

.characters li.your_character {
    background-color: #D2D112;
}

.characters li.selected {
    background-color: #B3FF99;
    border: 1px solid #008020;
}
.characters li:hover {
    background-color: #EDEDED;
}
.characters li.selected:hover {
    background-color: #99FFB3;
    border: 1px solid #008020;
}
.characters li.button:active, #characters li.selected.button:active {
    padding: 9px 5px 7px 7px;
    background-color: #7AFFA4;
    border: 1px solid #00FF40;
}
div.char_image {
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin: 0px auto;
}
div.unchar {
    background-image:url(/static/graphics/unchar.png);
}

/*----------------Hand-----------------*/

#hand{
    
}

/*----------------districts-----------*/

.district {
    float:left;
    display: block;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width:150px;
    font-size:12px;
}
.district .name {
    font-size:18px;
}

.district .cost{
    float: right;
    font-size:20px;
    font-family:Futura;
}

.purple{
    background-color:#C639FF;
}

.blue{
    background-color:lightblue;
}

.green{
    background-color:lightgreen;
}

.yellow{
    background-color:#FFED73;
}

.red{
    background-color:#FF6164;
}


/*-------------Chooser--------------*/
#chooser {
    text-align:center;
    position: fixed;
    
    background:url(/static/graphics/gray_back.png);
    
    background:-webkit-gradient(linear, left top, left bottom,
		to(rgba(90,90,90,.9)), 
		to(rgba(90,90,90,.9)));
	/*This is only in firefox 3.6 which isn't out yet.*/
    background: -moz-linear-gradient( left top, left bottom,
        stop(0,rgba(90,90,90,.9)),                      
        stop(100,rgba(90,90,90,.9)));
    left: 0;
    top: 0;
    right:0;
    bottom:0;
}

#chooser .characters {
	width: 800px;
	height: 150px;
	margin: 200px auto 0 auto;
	padding: 0;
	float: none;
}

#chooser .character {
	background-color: yellowgreen;
}

#chooser_submit{
    margin: 0 auto;
    font-size:18px;
    border: 2px black solid;
    width: 200px;
    clear: both;
    background-color: lightgoldenrodyellow;
}

.choose_container {
    /* border-top: 1px solid #008020; */
    margin-top: 4px;
    text-align: center;
    display: none;
}

.selected .choose_container {
    display: inline;
}
