<html>
<head>
<title>Boondoggle</title>
<script type="text/javascript" src="/static/js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="/static/js/boggle.js"></script>
<link rel="stylesheet" href="/static/css/boggle.css" />
</head>
<body>
<h1>Boondoggle</h1>
<div id="sidebar">
	<input id="input_field" type="text" />
	<ul id="submitted"></ul>
</div>
<div id="timer"></div>
<div id="board">
<a href="join">Join Game</a>
</div>
<footer>
	{{game_count}} games served.
</footer>
</body>
</html>