<!DOCTYPE html>
<html>
<head>
<title>Citadels</title>
<script type="text/javascript" src="/static/js/prototype.js"></script>
<script type="text/javascript" src="/static/js/cgame.js"></script>
<script type="text/javascript" src="/static/js/data.js"></script>
<link rel="stylesheet" href="/static/css/cgame.css" />
</head>
<body>
<div id="main">
<h1 id="page_header">Citadels &#8212; Join Game</h1>
<div id="joining">
    Name: 
    <input id="name" type="text" />
    <input id="joinbutton" type="submit" />
</div>
<div id="game_status"></div>

<div id="action_section" style="display: none;" class="section">
    <h2 id="action_header" class="section_header">Currently...</h2>
    <div id="action_body"></div>
</div>

<div id="resources" style="display: none;" class="section">
    <h2 id="resources_header" class="section_header">Your Resources</h2>
</div>

<div id="hand" style="display: none;" class="section">
    <h2 id="hand_header" class="section_header">Your Hand</h2>
</div>

<div id="players_section" class="section" style="display: none;">
    <h2 id="players_header" class="section_header">Players Section</h2>
    <ol id="players"></ol>
</div>

<div id="characters_section" style="display: none;">
    <h2 id="characters_header" class="section_header"></h2>
    <ol id="characters" class="characters"></ol>
</div>

<footer>
	<div id="ajax_error"></div>
</footer>
</div>
</body>
</html>